# Python
__pycache__/
.ipynb_checkpoints/
*.pyc

# macOS
.DS_Store

# Excel / Word temp files
~$*.docx
~$*.doc
~$*.xlsx

# IDE
.idea/
.vscode/

# Outputs (optional - se non vuoi pushare immagini)
# outputs/*.png

.Rhistory
.RData
.Rproj.user/
